<h3>My tasks</h3>
<div ng-controller="TaskManagerController as taskCtrl" ng-init="taskCtrl.getInitTasks()">
    <div class="form-group mb-xl">
        <input type="text" placeholder="Search my tasks" class="form-control mb"/>
        <div class="clearfix">
            <button type="button" class="btn btn-default">Search</button>
        </div>
        <div class="pull-right">
            <button class="task-cat-btn btn btn-primary" ng-click="taskCtrl.showAllTasks()">All</button>
            <button class="task-cat-btn btn btn-primary" ng-click="taskCtrl.showOpenTasks()">Open</button>
            <button class="task-cat-btn btn btn-primary" ng-click="taskCtrl.showClosedTasks()">Closed</button>
        </div>
    </div>
    <div class="actionables">
        <!-- START Multiple List group-->
        <div class="list-group" ng-repeat="task in taskCtrl.tasks  track by $index">
            <a href="#" class="list-group-item">
                <table class="wd-wide">
                    <tbody>
                    <tr>
                        <td class="wd-xs">
                            <div class="ph">
                                <div class="date-box">
                                    <span class="month">{{task.month}}</span>
                                    <br/>
                                    <span class="day">{{task.day}}</span>
                                </div>
                                <!--<img src="/img/dummy.png" alt="" class="media-box-object img-responsive img-rounded thumb64"/>-->
                            </div>
                        </td>
                        <td>
                            <div class="ph">
                                <h4 class="media-box-heading">{{task.title}}</h4>
                                <small class="text-muted">{{task.description}}</small>
                            </div>
                        </td>
                        <td class="hidden-md hidden-lg">
                            <div class="ph">
                                <div class="pull-left img-detail hidden-xs hidden-sm">
                                    <img src="img/user/02.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                                </div>
                                <div class="pull-right hidden-sm">
                                    <strong class=""></span>{{task.firstName}} {{task.lastName}}</strong>
                                    <div class="case-number text-muted">Case: {{task.case}}</div>
                                </div>
                            </div>
                        </td>
                        <td class="wd-sm hidden-xs hidden-sm">
                            <div class="ph">
                                <div class="pull-left img-detail">
                                    <img src="img/user/02.jpg" alt="Image" class="media-box-object img-circle thumb32"/>
                                </div>
                                <div class="pull-right">
                                    <strong class=""></span>{{task.firstName}} {{task.lastName}}</strong>
                                    <div class="case-number text-muted">Case: {{task.case}}</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </a>
        </div>
        <!-- END Multiple List group-->
    </div>
    <div class="row">
        <div class="col-lg-6 text-right pull-right">
            <uib-pagination total-items="taskCtrl.totalCount" ng-model="taskCtrl.pageNumber" max-size="taskCtrl.maxSize" class="pagination-sm" items-per-page="taskCtrl.taskPerPage" ng-change="taskCtrl.pagination(taskCtrl.pageNumber)" direction-links="false" boundary-links="true" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </div>
    </div>
</div>